header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;

}

.mytimes {
  color: MediumAquamarine;
  display: flex;
}

.nav {
  color: black;
  display: flex;
}
