.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.mytimes {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.nav {
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;
}
